.container {
	position: relative;
	border: none;
	overflow: hidden;
	width: 100dvw;
	height: 100dvh;
	padding-bottom: 9dvh;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 54dvh;
  background: linear-gradient(180deg, rgba(37, 32, 43, 0.85) 0%, rgba(37, 32, 43, 0.45) 53.99%, rgba(37, 32, 43, 0.00) 97.54%);
  z-index: 0;
}


.headerContainer {
	position: absolute;
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.backBtn {
		z-index: 10;
		padding-left: 17px;

		img {
			width: 7px;
			height: 14px;
		}
	}

	.btnGroup {
		display: flex;
		padding-right: 14px;
		gap: 15px;
		z-index: 10;

		.customBtn {
			img {
				width: 23.087px;
				height: 19.25px;
			}
		}

		.settingBtn {
			img {
				width: 15px;
				height: 16px;
			}
		}
	}

	.header {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2px;

		h2 {
			margin: 0;
			color: #FFF;
			text-align: center;
			font-family: Pretendard;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.32px;
		}

		p {
			color: #FFF;

			text-align: center;
			font-family: Pretendard;
			font-size: 13px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.26px;
		}
	}
	z-index: 1;
}

.content {
	position: relative;
	width: 100%;
	top: 20%;
	z-index: 1;
}

.memberItem {
	z-index: 1;
	transition: transform 0.2s ease-out;
	
	&:active {
		transform: scale(1.1);
	}
}

