.container {
	position: relative;
	border: none;
	overflow: hidden;
	width: 100dvw;
	height: 100dvh;
	padding-bottom: 9dvh;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 54dvh;
  background: linear-gradient(180deg, rgba(37, 32, 43, 0.85) 0%, rgba(37, 32, 43, 0.45) 53.99%, rgba(37, 32, 43, 0.00) 97.54%);
  z-index: 0;
}


.headerContainer {
	position: absolute;
	width: 100%;
	height: 77.55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	z-index: 1;

	.titleSection {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;

		.backBtn {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 7px;
			height: 14px;
			padding: 0 17px;
		}

		.title {
			color: #FFF;
			text-align: center;
			font-family: "Pretendard";
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.32px;

			// margin-bottom: 6px;
		}

		.btnGroup {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;

			.customBtn {
				width: 23.087px;
				height: 19.25px;
				padding-right: 10px;
				padding-left: 5px;
			}
			.settingBtn {
				width: 15px;
				height: 16px;
				padding-right: 17px;
				padding-left: 5px;
			}
		}
	}

	.intro {
		color: #FFF;
		text-align: center;
		font-family: "Pretendard";
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.26px;

		margin-top: 6px;
	}

	
}

.content {
	position: relative;
	width: 100%;
	top: 20%;
	z-index: 1;
}

.memberItem {
	z-index: 1;
	transition: transform 0.2s ease-out;
	
	&:active {
		transform: scale(1.1);
	}
}

