// Friends list container
.friendsList {
    width: 100%;
    max-height: 78%;
    background-color: transparent;
    margin: 0.75rem 0 0;
    //padding: 0.75rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.friendsList span {
    color: #444;
    text-align: center;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02rem;
    margin-left: 0.62rem;
}

// Section containers
.friendRequests, .myFriends, .myRequests {
    width: 92%;
    height: auto;
    //margin-bottom: 1rem;
}

.devideSection {
    height: 1rem;
}

// Section headers
.friendRequestsHead, .myFriendsHead, .myRequestsHead {
    width: 100%;
    height: 1.1rem;
    margin-bottom: 0.6rem;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #C0B9DB;
    padding-bottom: 0.6rem;
}

.showHideButton {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

// Sections content
.friendRequestsSection, .myFriendsSection, .myRequestsSection {
    width: 100%;
    margin-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.friendRequestsSection div:first-child,
.myRequestsSection div:first-child,
.myFriendsSection div:first-child {
    margin-top: 0.3rem;
}

.friendRequest, .myFriend, .myRequest {
    width: 100%;
    height: 2.7rem;
}

// Sort criteria box
.sortCriteriaBoxContainer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}
