.friendsList{
    //border: 1px solid black;
    width: 100%;
    height: auto;
    max-height: 76%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    //margin-top: 1.22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.friendsList span{
    color: var(--gray-22, #444);
    text-align: center;
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.0175rem;
    margin-left: 0.62rem;
}

.friendRequests, .myFriends, .myRequests{
    width: 92%;
    height: auto;
}

.friendRequestsHead, .myFriendsHead, .myRequestsHead{
    width: 100%;
    height: 1.7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-bottom: 1px solid #C0B9DB;
    padding-bottom: 0.69rem;
}

.showHideButton{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.friendRequestsSection, .myFriendsSection, .myRequestsSection{
    width: 100%;
    height: auto;
    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border: 1px solid black;
    gap: 1.13rem;
}
.myFriendsSection{
    padding-top: 1.6rem;
}
.friendRequestsSection div:first-child{
    margin-top: 0.7rem;
}
.myRequestsSection div:first-child{
    margin-top: 0.7rem;
}
.myFriendsSection div:first-child{
    margin-top: 0.2rem;
}

.friendRequest, .myFriend, .myRequest{
    //border: 1px solid gray;
    width: 100%;
    height: 2.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.myFriendsSectionContainer{
    position: relative;
}
.sortCriteriaBoxContainer{
    position: absolute;
    right: -0.75rem;
    top: 0.15rem;
}

.toggleButton{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.6rem;
    border-radius: 0.75rem;
    background-color: var(--color-5-main, #C0B9DB);
    color: #FFF;
    text-align: center;
    font-family: "Pretendard";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01456rem;
}
.toggleIcon{
    margin-left: 0.4rem;
    padding-bottom: 0.1rem;
}