.logInPageContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/logInBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 19dvh;
  flex: 1;
}

.logo {
  width: 89.758px;
  height: 64.581px;
}

.subTitle {
  color: #FFF;
  text-align: center;
  font-family: "NanumSquareRound";
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.3px;
  margin-top: 29.34px;
}

.title {
  color: #BEAADD;
  font-family: "ElectricalSafety";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 13.33px;
}

.stateTitle {
  font-family: "ElectricalSafety";
  font-size: 36px;
  text-align: center;
  width: 60%;
  text-wrap: wrap;
  margin-top: 0;
  margin-bottom: 8dvh;
  color: #e4d0e5;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 173px;
  width: 100dvw;
  padding: 0 30px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  height: 40px;
  border: 1px solid #BEAADD;
  background: #F8F8FA;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  margin-bottom: 11px;
}

.socialLogo {
  position: absolute;
  left: 43px;
}

.buttonDescription {
  color: #000;
  font-family: "Pretendard";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;

  flex: 1;
}
