// StationListBottomSheet2.module.scss
.bottomSheetContainer {
  position: absolute;
  bottom: 9dvh;
  left: 0;
  width: 100%;
  height: 82%;
  z-index: 2;
  background-color: #1B142A;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;

  &Icon {
    padding-top: 0.69rem;
    padding-bottom: 0.62rem;
  }
  &Text {
    width: 94%;
    color: #FFF;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin: 0;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.separator {
  position: relative;
  width: 94%;
  padding-bottom: 0.94rem;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.totalNumOfStations {
  padding-top: 0.35rem;
  color: #E1E1E1;
  text-align: right;
  font-family: Pretendard;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01875rem;
}

.sortCriteriaBoxContainer {
  // position: absolute;
  // top: 0;
  // right: 0;
  //border: 1px solid blue;
}

.stationListWrapper {
  width: 100%;
  flex: 1;
  padding-bottom: 2dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(
      180deg,
      rgba(30, 30, 57, 0.0) 0%,
      #1E1E39 100%
    );
    pointer-events: none;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    z-index: 0;
  }
}

.stationListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin-top: 1rem;
  gap: 0.94rem 0;
}

.stationDisplayWrapper {
  width: 48%;
}