// Container styling
.container {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

// Sort section (open and close)
.sortBySectionOpen, .sortBySectionClose {
    width: 4.88rem;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    border-radius: 0.75rem;
    z-index: 90;
}

.sortBySectionOpen {
    background-color: #FFF;
    height: 2.94rem;
    box-shadow: 0px 0px 5px 0px rgba(41, 34, 41, 0.20);
}

// Sort buttons
.sortCriteriaSelectButtonUpToDateOrder, .sortCriteriaSelectButtonFirstNameOrder {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 3rem;
    height: 1rem;
    color: #444;
    font-family: "Pretendard";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.sortCriteriaSelectButtonUpToDateOrder {
    left: 0.41rem;
    top: 0.31rem;
}

.sortCriteriaSelectButtonFirstNameOrder {
    left: 0.41rem;
    top: 1.56rem;
}

// Arrows
.arrowHideUp {
    position: absolute;
    left: 3.25rem;
    top: 0.37rem;
}

.arrowShowDown {
    position: absolute;
    left: 3.25rem;
    top: 0.37rem;
}

// Sort section (closed)
.sortBySectionClose {
    background-color: transparent;
}

// Sort criteria text
.sortCriteriaText {
    color: #444;
    font-family: Pretendard;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01875rem;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 1rem;
    position: absolute;
    left: 0.41rem;
    top: 0.31rem;
}
