// HomeBar.module.scss

.homeBarContainer {
	z-index: 1;
	height: 68.55px;
	width: 100%;
	padding-bottom: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

.assets {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.icon {
	width: 20.706px;
	height: 16.001px;
	margin-right: 7px;
}

.balance {
	color: #FFF;
	text-align: center;
	font-family: "Pretendard";
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.32px;
}

.utils {
	display: flex;
	flex-direction: row;

	img {
		height: 19.2;
		margin-left: 15.91px;
	}
}