// SignalButton.module.scss

.signalButton{
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    
    &.on {
        background-color: #E4D0E5; // 변할 색상 (연보라)
    }
}

.signalImg{
    margin-top: 0.2rem;
    pointer-events: none; // 이미지가 클릭을 방해하지 않도록 설정
    cursor: pointer;
}