.container{
    position: relative;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F8F8FA;
}
.headContainer{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    padding-bottom: 18px;
    background-color: #FFFFFF;
    margin-bottom: 18px;
}
.title{
    padding: 0;
    margin: 0;
}
.titleName{
    font-family: "Pretendard";
    font-size: 16px;
    color: #1B142A;
    font-weight: bold;
}

.searchSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchBarContainer{
    width: 100%;
    padding-left: 2rem;
    padding-right: 1.2rem;
    display: flex;
    align-items: center;
}
.cancelSearchButton {
    width: 10%;
    padding: 0;
    margin: 0;
    margin-right: 0.38rem;
    color: var(--gray-22, #444);
    font-family: "Pretendard";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01625rem;
}

.instruction{
    font-family: "Pretendard";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom:35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instructionMessage{
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 13px;
    color: #444444;
    margin-bottom: 60px;
}

.searchResultContainer{
    padding-top: 8px;
}