// Search bar container
.searchBarContainer {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    //border: 1px solid black;
}

// Search bar styling
.searchBar {
    width: 86%;
    height: 2.5rem;
    background-color: #C0B9DB;
    border-radius: 3.125rem;
    //flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.87rem;
    margin: 1.13rem 0;
    z-index: 11;
}

// Input field styling
.searchInput {
    background-color: transparent;
    border: none;
    width: 90%;
    color: #FFF;

    &::placeholder {
        color: #FFF;
        font-family: Pretendard;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.01625rem;
    }
    &:focus {
        outline: none;
        &::placeholder {
            color: transparent;
        }
    }
}

// Search button styling
.searchButton {
    margin: 0;
    padding: 3px 0 0;
    background-color: transparent;
    border: none;
}
