.searchBar{
    width: 100%;
    height: 2.5rem;
    background-color: #C0B9DB;
    border-radius: 3.125rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchInput{
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 0.5rem;
    color: #FFF;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.26px;

    font-size: 16px; // iOS 확대 방지용 최소 크기
    width: 125%;    // scale로 줄어들 것을 대비해 너비를 키움
    transform: scale(0.8); // 16px * 0.8 = 약 12.8px (기존 크기 비슷하게)
    transform-origin: left center;
}
.searchInput::placeholder{
    color: #FFF;
    font-family: "Pretendard";
    // font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;

    font-size: 16px; // iOS 확대 방지용 최소 크기
    width: 125%;    // scale로 줄어들 것을 대비해 너비를 키움
    transform: scale(0.8); // 16px * 0.8 = 약 12.8px (기존 크기 비슷하게)
    transform-origin: left center;
}
.searchInput:focus{
    outline: none;
}
.searchInput:focus::placeholder{
    color: transparent;
}

.searchButton{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.2rem;
    background-color: transparent;
    border: none;
}