.searchBar{
    width: 100%;
    height: 2.5rem;
    background-color: #C0B9DB;
    border-radius: 3.125rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchInput{
    background-color: transparent;
    border: none;
    flex: 1;
    margin-left: 0.5rem;
    color: #FFF;
    font-family: "Pretendard";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.01625rem;
}
.searchInput::placeholder{
    color: #FFF;
    font-family: "Pretendard";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01625rem;
}
.searchInput:focus{
    outline: none;
}
.searchInput:focus::placeholder{
    color: transparent;
}

.searchButton{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.2rem;
    background-color: transparent;
    border: none;
}