.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfoContainer{
    flex: 1;
    width: auto;
    height: 2.1875rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
// .emptySpace{
//     height: 2.1875rem;
//     flex: 1;
// }

.profileImageContainer{
    border-radius: 50%;
    overflow: hidden;
    background-color: #E4D0E5;
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    bottom: 0;
}
.profileImage{
    width: 2.1875rem;
    height: 2.1875rem;
}

.nameId{
    margin-left: 0.44rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.nameId p{
    margin: 0;
    padding: 0;
}
.nameId p:nth-child(1){
    color: #444;
    font-family: "Pretendard";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.19rem;
    margin-top: 0.1rem;
}
.nameId p:nth-child(2){
    color: var(--gray-22, #444);
    font-family: "Pretendard";
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01375rem;
}

.buttonContainer{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pokeImg{
    margin-top: 0.2rem;
}
.pokeButton{
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.onPokeButton{
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    border-radius: 100%;
    background-color: #E4D0E5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.deleteFriendsButton{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    padding-left: 0.49rem;
    margin-left: 0.2rem;
}
.showDeleteFriendModalButton{
    width: 4.875rem;
    height: 1.75rem;
    border-radius: 0.75rem;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(41, 34, 41, 0.20);

    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

.pokePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--gray-9, #EDEFFF);
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px 0px rgba(23, 21, 28, 0.30);
    padding: 0;
    width: 70%;
    height: 3.0625rem;
    color: var(--gray-11, #17151C);
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    animation: fadeInOut 1.5s ease-in-out;
  
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            transform: translate(-50%, -60%);
        }
        10% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        90% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -40%);
        }
    }
}
.pokePopupStarsUp {
    position: fixed;
    top: -50%; /* 팝업 상단에서 약간 위로 배치 */
    left: 2%; /* 팝업 왼쪽에서 약간 왼쪽으로 배치 */
    width: 20px; /* 별 이미지 크기 */
    height: 20px; /* 별 이미지 크기 */
    z-index: 1001; /* 팝업 위에 표시되도록 z-index 설정 */
  }
  .pokePopupStarsDown {
    position: fixed;
    bottom: -50%; /* 팝업 상단에서 약간 위로 배치 */
    right: 2%; /* 팝업 왼쪽에서 약간 왼쪽으로 배치 */
    width: 20px; /* 별 이미지 크기 */
    height: 20px; /* 별 이미지 크기 */
    z-index: 1001; /* 팝업 위에 표시되도록 z-index 설정 */
  }