// Container styling
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// User info container
.userInfoContainer {
    display: flex;
    align-items: center;
}

.profileImage {
    border-radius: 50%;
    overflow: hidden;
    background-color: #E4D0E5;
    width: 2.12rem;
    height: 2.12rem;
}

.nameId {
    margin: 0;
    margin-left: 0.5rem;
    height: 2.12rem;

    p {
        margin: 0;
        padding: 0;

        &:nth-child(1) {
            top: 0;
            color: #444;
            font-family: "Pretendard";
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0.13rem;
        }

        &:nth-child(2) {
            bottom: 0;
            color: #444;
            font-family: "Pretendard";
            font-size: 0.6875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.01375rem;
        }
    }
}

// Button container and buttons
.buttonContainer {
    display: flex;
    align-items: center;
}

.goStationButton, .pokeButton, .onPokeButton {
    width: 1.88rem;
    height: 1.88rem;
    padding-top: 0.2rem;
    padding-left: 0.08rem;
    border: none;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.15);
    margin-left: 0.69rem;
}

.onPokeButton {
    background-color: #E4D0E5;
}

.deleteFriendsButton {
    width: 0.125rem;
    border: none;
    background-color: transparent;
    margin-left: 0.69rem;
}

.showDeleteFriendModalButton {
    width: 4.88rem;
    height: 1.75rem;
    border: none;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(41, 34, 41, 0.20);
    border-radius: 0.75rem;
    color: #8B6193;
    text-align: center;
    font-family: Pretendard;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01875rem;
}

// Poke popup styles
.pokePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 0.75rem;
    filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.25));
    // filter: drop-shadow(0px 0px 20px rgba(41, 34, 41, 0.25));
    width: 70%;
    min-width: 17.9rem;
    height: 3.06rem;
    color: #1B142A;
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeInOut 1.5s ease-in-out;
    opacity: 0;

    @keyframes fadeInOut {
        0% {
            opacity: 0;
            transform: translate(-50%, -60%);
        }
        10%, 90% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -40%);
        }
    }
}

.pokePopupStarsUp {
    position: absolute;
    top: -55%;
    left: 2%;
    width: 1.24219rem;
    z-index: 1001;
}

.pokePopupStarsDown {
    position: absolute;
    bottom: -55%;
    right: 3%;
    width: 1.24219rem;
    z-index: 1001;
}
