// MarketHome.module.scss

.container {
    width: 100dvw;
    height: 91dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../../assets/market/home/marketHomeBackgroundImage.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header {
    width: 100dvw;
    height: 78.55px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFF;

    &Title {
        padding-top: 37.55px;
        
        color: #17151C;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
    }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    min-height: 0;

    &::after { /* 변경됨: 하단 딤 추가 */
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        /* 딤 높이 조절(필요 시 12~28px 사이로 조정) */
        height: 3px;

        /* 위는 투명 → 아래는 살짝 어두움 */
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.10) 100%
        );

        /* 클릭 방해 X */
        pointer-events: none;

        /* 필요한 경우 레이어 우선순위 조절 */
        z-index: 1;
    }
}

.topInformationSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 14px;
}

.userName {
    display: flex;
    flex-direction: row;
    align-items: end;

    &MarketSmallIcon {
        width: 25px;
        height: 25px;
        margin-left: 9px;
    }

    &Text {
        color: #444;
        font-family: "Pretendard";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;

        margin-left: 5px;
        margin-bottom: 1px;
    }
}

.stone {
    margin-right: 14px;
}

.characterContainer {
    position: relative;
    width: 100%;
    height: 57%;
    overflow: hidden;
}

.character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    height: 50dvh;
    aspect-ratio: 502/717;

    animation-name: dropMotion;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}

.characterBackground {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    height: 50dvh;
    aspect-ratio: 276/298;
}

/* ✅ 2x2 그리드 레이아웃 */
.gridContainer {
    position: absolute;

    bottom: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2칸 */
    grid-gap: 16px 12px; /* 박스 사이 간격 */
    width: 100%;
    max-width: 93dvw;
}