.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust height as needed */
}

.characterContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  img:not(.resetBtn, .addBagBtn, .heartBtn) {
    position: absolute;
    height: 95%;
    //top: 15%;
  }
}

.characterSkin {
	z-index: 1;
}

.characterEyes {
	z-index: 2;
}

.characterNose {
	z-index: 3;
}

.characterMouth {
	z-index: 4;
}

.characterMole {
	z-index: 5;
}

.characterHair {
	z-index: 6;
}

.characterShoes {
	z-index: 7;
}

.characterBottom {
	z-index: 8;
}

.characterTop {
	z-index: 9;
}

.characterSet {
	z-index: 10;
}

.eyes_item {
	z-index: 20;
}

.head {
	z-index: 21;
}

.leftWrist,
.rightWrist{
	z-index: 22;
}

.leftHand,
.rightHand {
	z-index: 23;
}

.neck{
	z-index: 24;
}

.ears{
	z-index: 25;
}

.characterBackground {
  position: absolute;
  left: 50%;
  top: 0%; 
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 80%; /* Adjusted for better fit */
  flex-shrink: 0;
  z-index: -1;
}

.resetBtn {
  position: absolute;
  bottom: 5%; /* Adjusted for better placement */
  right: 30%;
  width: 32px; /* Explicit width */
  height: 32px; /* Explicit height */
  cursor: pointer;
  z-index: 30;
}

.addBagBtn{
	position: absolute;
		bottom: 5%;
		/* Adjusted for better placement */
		right: 20%;
		width: 32px;
		/* Explicit width */
		height: 32px;
		/* Explicit height */
		cursor: pointer;
		z-index: 30;
}

.heartBtn{
	position: absolute;
		bottom: 5%;
		/* Adjusted for better placement */
		right: 10%;
		width: 32px;
		/* Explicit width */
		height: 32px;
		/* Explicit height */
		cursor: pointer;
		z-index: 30;
}