// File: src/components/Toast/Toast.module.scss
.toastRoot {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;
    z-index: 2000;
    pointer-events: none;
}

.toastBody {
    position: relative;
    background: #EDEFFF;
    color: #17151C;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px 0px rgba(23, 21, 28, 0.30);
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 0.9375rem;
    font-weight: 400;
    height: 3.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: toastFade 1.5s ease-in-out;
}

@keyframes toastFade {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-6px);
    }
}

.toastIconUp {
    position: absolute;
    top: -30px;
    left: -10px;
    width: 38px;
    height: 31px;
    z-index: 1001;
}

.toastIconDown {
    position: absolute;
    bottom: -30px;
    right: 5px;
    width: 38px;
    height: 31px;
    z-index: 1001;
}