.searchContainer {
	position: absolute;
	width: 100%;
	padding: 14px;
	box-sizing: border-box;
}

.recentSearch {
	color: var(--gray-22, #444);
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.26px;
	padding: 10px 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C0B9DB;
}

.historyItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0 0 0;
	color: var(--gray-22, #444);
	font-family: Pretendard;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.3px;

	.deleteButton {
		background: none;
		border: none;
		cursor: pointer;
		
	}
}


.emptyMessage{
	color: var(--gray-22, #444);
		font-family: Pretendard;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.22px;
		display: flex;
		justify-content: center;
		padding-top: 18px;
}