/* 파일: src/pages/Market/MyItemPriceCheck/MyItemPriceCheck.module.scss */
.container {
    width: 100dvw;
    height: 91dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        180deg,
        #F8F8FA 28.21%,
        #E4D0E5 259.4%
    );
    overflow: hidden;
}

.header {
    flex-shrink: 0;
    width: 100dvw;
    height: 78.55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    background-color: #FFF;
    position: relative;
    
    &Title {
        padding-bottom: 20px;
        color: #17151C;
        text-align: center;
        font-family: "Pretendard";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
    }
}

.backArrow {
    width: 7px;
    height: 14px;
    padding: 24px 16px;
    position: absolute;
    left: 0;
    cursor: pointer;
    color: #17151C;
}

.sectionTitle {
    flex-shrink: 0;
    width: 93%;
    margin-top: 20.5px;
    margin-bottom: 2px;
    padding-bottom: 9.5px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid #C0B9DB;
}

.itemTitle {
    color: var(--Color-10, #444);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
}

.sectionSub {
    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
}

.count {
    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
}

.scrollArea {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 40px;

    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.grid {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 22px;
    align-items: start;
}

.itemSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(41, 34, 41, 0.20));
    margin-bottom: 11px;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    &Badge {
        position: absolute;
        top: 3px;
        left: 4px;
        background-color: #F45B5B;
        color: #FFF;
        font-family: Pretendard;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.2px;
        padding: 4px 8px;
        border-radius: 999px;
        z-index: 10;
    }

    &ThumbWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
    }

    &Thumb {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
    }
}

.name {
    margin-bottom: 5px;
    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price {
    display: flex;
    align-items: center;
    gap: 6px;
}

.stoneIcon {
    width: 17px;
    height: 17px;
}

.priceValue {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}

.noItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &Title {
    color: var(--gray-11, #17151C);
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;

    margin-bottom: 18px;
  }

  &Text {
    color: var(--gray-22, #444);
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;

    margin-bottom: 55px;
  }

  &Logo {
    width: 10.97269rem;
  }
}