/* 파일: src/pages/Market/MyItemPriceCheck/MyItemPriceCheck.module.scss */
.container {
    width: 100dvw;
    height: 91dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        180deg,
        #F8F8FA 28.21%,
        #E4D0E5 259.4%
    );
}

.header {
    width: 100dvw;
    height: 78.55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    background-color: #FFF;
    position: relative;
    
    &Title {
        padding-bottom: 20px;
        color: #17151C;
        text-align: center;
        font-family: "Pretendard";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.32px;
    }
}

.backArrow {
    width: 7px;
    height: 14px;
    padding: 24px 16px;
    position: absolute;
    left: 0;
    cursor: pointer;
    color: #17151C;
}

.sectionTitle {
    width: 93%;
    margin-top: 20.5px;
    margin-bottom: 20px;
    padding-bottom: 9.5px;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid #C0B9DB;
}

.itemTitle {
    color: var(--Color-10, #444);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
}

.sectionSub {
    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
}

.count {
    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;
}

.grid {
    width: 93%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 22px;
}

.itemSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px rgba(41, 34, 41, 0.20));
    margin-bottom: 11px;
    width: 100%;
    aspect-ratio: 1;

    &Badge {
        position: absolute;
        top: 3px;
        left: 4px;
        background-color: #F45B5B;
        color: #FFF;
        font-family: Pretendard;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.2px;
        padding: 4px 8px;
        border-radius: 999px;
    }

    &ThumbWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &Thumb {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.name {
    margin-bottom: 5px;
    color: var(--gray-22, #444);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price {
    display: flex;
    align-items: center;
    gap: 6px;
}

.stoneIcon {
    width: 17px;
    height: 17px;
}

.priceValue {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.28px;
}