.container{
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.sortBySectionOpen, .sortBySectionClose{
    width: 4.875rem;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
}
.sortBySectionOpen{
    background-color: #FFFFFF;
    height: 2.9375rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 5px 0px rgba(41, 34, 41, 0.20);
    z-index: 90;
}
.sortCriteriaSelectButtonFirst, .sortCriteriaSelectButtonSecond{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: var(--gray-22, #444);
    font-family: "Pretendard";
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01875rem;
    position: absolute;
    width: 53px;
    height: 16px;
}
.sortCriteriaSelectButtonFirst{
    left: 3px;
    top: 6px;
}
.sortCriteriaSelectButtonSecond{
    left: 3px;
    top: 24px;
}
.arrowHideUp{
    position: absolute;
    left: 50px;
    top: 5px;
}

.sortBySectionClose{
    border-radius: 0.75rem;
    height: 1rem;
    z-index: 90;
}

.sortCriteriaText{
    font-family: "Pretendard";
    //color: var(--gray-22, #444);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.01875rem;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 53px;
    height: 16px;
    position: absolute;
    left: 3px;
    top: 6px;
}
.arrowShowDown{
    position: absolute;
    left: 50px;
    top: 5px;
}