.container {
	display: flex;
	padding: 0 10px 10px 10px;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
}

.tabs {
	display: flex;
}

.tab {
	padding: 9.5px 12px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 14px;
	color: var(--gray-3, #5F5F5F);
	font-family: Pretendard;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	&.active {
		color: #000;
		font-weight: bold;
	}
}

.searchContainer {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;

	.cancel {
		color: var(--Color-10, #444);
		font-family: Pretendard;
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.26px;
		cursor: pointer;
		margin-left: 10px;
		display: flex;
		justify-content: flex-end;
		word-break: keep-all;
		;
	}
}

.searchInput {
  width: 123.07%; 
  border-radius: 50px;
  
  border: 1.23px solid var(--gray-7, #E1E1E1);
  padding: 12.3px 12.3px 12.3px 43.07px;

  color: var(--Gray4, #858585);
  font-family: Pretendard;
  
  /* iOS 자동 확대 방지 및 시각적 크기 유지 */
  font-size: 16px; 
  transform: scale(0.8125); 
  transform-origin: left center; 
  margin-right: -23.07%; 

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;

  &:focus {
    outline: 1.23px solid #C0B9DB;
  }
}

.searchIcon {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 20px;
}