.container {
	display: flex;
	padding: 10px;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
}

.tabs {
	display: flex;
}

.tab {
	padding: 9.5px 12px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 14px;
	color: var(--gray-3, #5F5F5F);
	font-family: Pretendard;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	&.active {
		color: #000;
		font-weight: bold;
	}
}

.searchContainer {
	display: flex;
	flex-grow: 1;
  align-items: center;
  position: relative;
}

.searchInput {
	width: 100%;
	border-radius: 50px;
	border: 1px solid var(--gray-7, #E1E1E1);
	padding: 10px 10px 10px 35px;
	color: var(--Gray4, #858585);
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.26px;

	&:focus {
		outline: #C0B9DB;
	}
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}