.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.themeContainer {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;

	&::-webkit-scrollbar {
		display: none;
	}

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.themeTab {
	padding: 8px 16px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: var(--gray-22, #444);
	font-family: Pretendard;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	&.active {
		color: #000;
		font-weight: bold;
	}
}

.themeIcon {
	width: 16px;
	height: 15px;
	margin-top: 3px;
}

.searchButton {
	background: none;
	border: none;
	cursor: pointer;
	margin-top: 1px;
	padding-left: 5px;

	img {
		width: 15px;
	}
}

.searchContainer {
	display: flex;
	flex-grow: 1;
	align-items: center;
	position: relative;
}

.searchInput {
	width: 100%;
	border-radius: 50px;
	border: 1px solid var(--gray-7, #E1E1E1);
	padding: 10px 10px 10px 35px;
	color: var(--Gray4, #858585);
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.26px;

	&:focus {
		outline: #C0B9DB;
	}
}

.searchIcon {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 20px;
}