.container {
  background: #1b142b;
  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.background {
  position: relative;
  width: 100dvw;
  height: 100dvh;
}
