button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer
}


.showCharacter {
	position: relative;
	width: clamp(430px, 100%, 1200px);
	height: 373.55px;
	font-family: "Pretendard", sans-serif;


}

.previousBtn {
	position: absolute;
	top: 32.55px;
	left: 14px;
	width: 53px;
	height: 28px;
	flex-shrink: 0;
	border-radius: 12px;
	background: #C0B9DB;
	color: #ffffff;
	z-index: 2;
	font-family: inherit;
}

.pHeader {
	position: absolute;
	top: 37.55px;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.32px;
	z-index: 2;
}

.nextBtn {
	position: absolute;
	top: 32.55px;
	right: 14px;
	width: 53px;
	height: 28px;
	flex-shrink: 0;
	border-radius: 12px;
	background: #402C44;
	color: #ffffff;
	z-index: 2;
	font-family: inherit;
}

.pDescription {
	position: absolute;
	top: 94.55px;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	color: #444;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.32px;
	z-index: 2;
	white-space: nowrap;
}

.characterFace {
	position: absolute;
	top: 158.55px;
	left: 50%;
	transform: translateX(-50%);
	width: 155px;
	height: 180.677px;
	flex-shrink: 0;
	z-index: 2;
}

.characterBody {
	position: absolute;
	top: 260.08px;
	left: 50%;
	transform: translateX(-50%);
	width: 113.065px;
	height: 126.638px;
	flex-shrink: 0;
	z-index: 2;
}

.characterAccessory {
	position: absolute;
	top: 157.55px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 46.383px;
	flex-shrink: 0;
	z-index: 2;
}