html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100vw;
	overflow: hidden;
}

button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer
}

.background {
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	width: 100vw;
	max-width: 1200px;
}


.showCharacter {
	position: relative;
	width: clamp(430px, 100%, 1200px);
	height: 373.55px;
	font-family: "Pretendard", sans-serif;
	display: flex;
	justify-content: center;
}

.previousBtn {
	position: absolute;
	top: 32.55px;
	left: 14px;
	width: 53px;
	height: 28px;
	flex-shrink: 0;
	border-radius: 12px;
	background: #C0B9DB;
	color: #ffffff;
	z-index: 2;
	font-family: inherit;
}

.pHeader {
	position: absolute;
	top: 37.55px;
	margin: 0;
	z-index: 2;
	color: #FFF;
	text-align: center;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.32px;
}

.nextBtn {
	position: absolute;
	top: 32.55px;
	right: 14px;
	width: 53px;
	height: 28px;
	flex-shrink: 0;
	border-radius: 12px;
	background: #402C44;
	color: #ffffff;
	z-index: 2;
	font-family: inherit;
}

.pDescription {
	position: absolute;
	top: 94.55px;
	margin: 0;
	z-index: 2;
	white-space: nowrap;
	color: #FFF;

	text-align: center;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.32px;
}

.character {
	position: relative;
	display: flex;
	justify-content: center;
}

.characterFace {
	position: absolute;
	top: 158.55px;
	width: 155px;
	height: 180.677px;
	flex-shrink: 0;
	z-index: 2;
}

.characterBody {
	position: absolute;
	top: 260.08px;

	width: 113.065px;
	height: 126.638px;
	flex-shrink: 0;
	z-index: 2;
}

.characterAccessory {
	position: absolute;
	top: 157.55px;

	width: 100px;
	height: 46.383px;
	flex-shrink: 0;
	z-index: 2;
}