button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

p {
  margin: 0;
}

.characterSetUpContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.showCharacter {
  font-family: "Pretendard";
  position: relative;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pHeader {
  position: absolute;
  top: 6%;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  z-index: 2;
}

.nextBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 53px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #402C44;
  color: #ffffff;
  z-index: 2;
}

.pDescription {
  position: absolute;
  top: 17%;
  color: #444;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  z-index: 2;
}

.characterContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    width: 70%;
    top: 15%;
  }
}


// 레이어 순서: 액세서리>얼굴>상의>하의>신발>머리>피부
.characterSkin{
  z-index: 1 ;
}
.characterHair {
  z-index: 2;
}
.characterShoes{
  z-index: 3;
}
.characterBottom{
  z-index: 4;
}
.characterTop {
  z-index: 5;
}
.characterFace{
  z-index: 6;
}
.characterItem{
  z-index: 7;
}



.characterBackground {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 461.55px;
  flex-shrink: 0;
  z-index: -1;
}

.resetBtn {
  position: absolute;
  bottom: 0px;
  right: 5%;
  cursor: pointer;
  z-index: 2;
}

.setCharacter {
  background: #FFF;
  font-family: "Pretendard";
  box-shadow: 0px -4px 4px 0px rgba(41, 34, 41, 0.10);
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  margin-bottom: 15px;
  z-index: 8;
}

.menuBar {
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.menuItem {
  all: unset;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5F5F5F;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;

  &.active {
    color: #1B142A;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

    &::after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 100px;
      background: #402C44;
    }
  }

  &.inactive {
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #E1E1E1;
    }
  }
}

.contentArea {
  //padding: 14px;
  min-height: 200px;
  background: #FFF;
}


.gridItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 22px;
  padding: 14px 20px;
  width: 100%;
  box-sizing: border-box;
}

.item {
  aspect-ratio: 1;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  border: 1px solid #E1E1E1;
  padding: 8px;

  &:hover {
    border-color: #ccc;

  }

  &.selected {
    box-shadow: 0 0 8px 2px rgba(139, 92, 246, 0.5);

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lockedItem {
  aspect-ratio: 1;
  border-radius: 12px;
  background: white;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}