button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

p {
  margin: 0;
}

.profileSetUpContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.showCharacter {
  position: absolute;
  width: 100%;
  height: 55%;
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.previousBtn {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 53px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #C0B9DB;
  color: #ffffff;
  z-index: 2;
  font-family: inherit;
}

.pHeader {
  position: absolute;
  top: 6%;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  z-index: 2;
}

.nextBtn {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 53px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #402C44;
  color: #ffffff;
  z-index: 2;
}

.pDescription {
  position: absolute;
  top: 17%;
  color: #444;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  z-index: 2;
}

.characterContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    width: 70%;
    top: 15%;
  }
}

// 레이어 순서: 액세서리>얼굴>상의>하의>신발>머리>피부
.characterSkin {
  z-index: 1;
}

.characterHair {
  z-index: 2;
}

.characterShoes {
  z-index: 3;
}

.characterBottom {
  z-index: 4;
}

.characterTop {
  z-index: 5;
}

.characterFace {
  z-index: 6;
}

.characterItem {
  z-index: 7;
}

.characterBackground {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 461.55px;
  flex-shrink: 0;
  z-index: -1;
}

.inputContainer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.nameInput {
  position: absolute;
  width: 191px;
  padding: 9.5px;
  margin-top: 59.5px;
  height: 23px;
  border: none;
  border-bottom: 2px solid #C0B9DB;
  outline: none;
  background-color: transparent;
  color: #1B142A;
  font-family: "Electrical Safety";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  caret-color: #AFAFAF;
  /* 커서의 색상, 커서의 두께는 조절 불가 */

  &::placeholder {
    color: #AFAFAF;
    font-style: italic;
    font-size: 14px;
    text-align: center;
  }
}


.IdContainer {
  position: absolute;
  margin-top: 131px;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .id {
    position: absolute;
    left: 14px;
    top: 0px;
    width: 41px;
    color: #444;

    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.22px;
  }

  .idInput {
    margin: 23px 0px;
    text-indent: 26px;
    border-radius: 15px;
    border: 1px solid #BEAADD;
    height: 58px;
    background: #FFF;
    width: 100%;
    box-sizing: border-box;
    color: #8B6193;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

    &::placeholder {
      color: #E1E1E1;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.28px;
    }
  }

}

.AvailableID{
  position: absolute;
}

.checkBtn {
  position: absolute;
  top: 35px;
  right: 26px;
  width: 77px;
  height: 35px;
  text-align: center;
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.233px;
  background: var(--color-5-main, #C0B9DB);
  border-radius: 30px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-radius: 30px;
    background: var(--gray-6-bar, #CBCCCB);
  }

  &.available {
    color: #C0B9DB;
    background-color: #ffffff;
  }
}

.ageContainer {
  position: absolute;
  margin-top: 219px;
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  .age {
    position: absolute;
    left: 14px;
    top: 0px;
    width: 41px;
    color: #444;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.22px;
  }

  .ageInput {
    margin: 23px 0px;
    width: inherit;
    text-indent: 26px;
    border-radius: 15px;
    border: 1px solid #BEAADD;
    height: 58px;
    background: #FFF;
    width: 100%;
    box-sizing: border-box;
    color: #8B6193;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

    &::placeholder {
      color: #E1E1E1;
      font-family: Pretendard;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.28px;
    }
  }
}