.searchBarContainer {
	width: 100%;
	height: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
}

.searchBar {
	width: calc(100% - 28px);
	height: 40px;
	background-color: #FFFFFF;
	border-radius: 50px;
	margin: 0;
	padding: 0 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	border: 1px solid var(--gray-7, #E1E1E1);
	z-index: 11;
}

.searchBarContainer::after {
	content: '';
	position: absolute;
	top: 95%;
	/* 검색창 바로 아래 */
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 10;
	/* 검색창 뒤에 위치 */
	pointer-events: none;
	/* 클릭 방지 */
}

.searchInput {
	background-color: transparent;
	border: none;
	width: 90%;
	line-height: 20px;
	color: var(--gray-22, #444);
	caret-color: #BEAADD;
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.26px;
}

.searchInput::placeholder {
	color: var(--Gray4, #858585);
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.26px;
}

.searchInput:focus {
	outline: none;
}

.searchInput:focus::placeholder {
	color: transparent;
}

.searchButton {
	margin: 0;
	padding: 0;
	padding-top: 3px;
	background-color: transparent;
	border: none;
}