.tabContainer {
	width: 100%;
	height: 20dvh;
	min-height: 150px;
	overflow: hidden;
}

.tabContent {
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;

	/* 스크롤바 스타일링 */
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #C0B9DB;
		border-radius: 3px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #9370DB;
	}
}


.gridItems {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	justify-content: center;
	gap: 15px;
	padding: 5px 15px 15px 15px;
	box-sizing: border-box;
}

.item {
	aspect-ratio: 1;
	border-radius: 10%;
	background: white;
	cursor: pointer;
	border: 1px solid #E1E1E1;
	overflow: hidden;

	&:hover {
		border-color: #ccc;
	}

	&.selected {
		box-shadow: 0 0 8px 2px rgba(139, 92, 246, 0.5);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}