button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer
}

p {
	margin: 0;
}

.background {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.dim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 54dvh;
	background: linear-gradient(180deg,
			rgba(37, 32, 43, 0.85) 0%,
			rgba(37, 32, 43, 0.45) 53.99%,
			rgba(37, 32, 43, 0) 97.54%);
}


.showCharacter {
	position: absolute;
	width: 100%;
	height: 55%;
	font-family: "Pretendard", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.previousBtn {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 62px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 19px;
	background: #C0B9DB;
	color: #ffffff;
	z-index: 2;
	font-family: "Pretendard";
	font-size: 14px;
	font-weight: bold;
}

.pHeader {
	position: absolute;
	top: 7%;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.32px;
	z-index: 2;
	color: #FFF;
	text-align: center;
	font-family: Pretendard;
}

.nextBtn {
	position: absolute;
	top: 5.5%;
	right: 5%;
	width: 62px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 19px;
	background: #402C44;
	color: #ffffff;
	z-index: 2;
	font-family: "Pretendard";
	font-size: 14px;
	font-weight: bold;
}

.pDescription {
	position: absolute;
	top: 19%;
	margin: 0;
	z-index: 2;
	white-space: nowrap;
	color: #FFF;

	text-align: center;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.32px;
}

.characterContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		height: 125%;
		max-width: 100%;
		top: 30%;
	}
}

// 일반: 피부 < 눈 < 코 < 입 < 점 < 머리 < 신발 < 하의 < 상의 < 아이템 

//아이템: 눈< 머리 < 손목(왼/오) < 손(왼/오) < 목 < 귀
.characterSkin {
	z-index: 1;
}

.characterEyes {
	z-index: 2;
}

.characterNose {
	z-index: 3;
}

.characterMouth {
	z-index: 4;
}

.characterMole {
	z-index: 5;
}

.characterHair {
	z-index: 6;
}

.characterShoes {
	z-index: 7;
}

.characterBottom {
	z-index: 8;
}

.characterTop {
	z-index: 9;
}

.characterSet {
	// 세트 의상은 상/하의보다 위에 오도록
	z-index: 10;
}



/* 아이템들은 가장 위에 오도록 높은 z-index를 부여합니다. */
.eyes_item {
	z-index: 20;
}

.head {
	z-index: 21;
}

.leftWrist,
.rightWrist {
	z-index: 22;
}

.leftHand,
.rightHand {
	z-index: 23;
}

.neck {
	z-index: 24;
}

.ears {
	z-index: 25;
}

.backgroundList {
	position: absolute;
	background-color: #FFF;
	width: 100%;
	height: auto;
	bottom: 0;
	z-index: 100;
}

.bottomBar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 16px 0;
	background: transparent;
	cursor: pointer;
	z-index: 101;

	.bar {
		width: 36px;
		height: 2px;
		flex-shrink: 0;
		border-radius: 100px;
		background: #C0B9DB;
		//transition: background 0.2s ease;
	}


}