button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

p {
  margin: 0;
}

.characterSetUpContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.showCharacter {
  font-family: "Pretendard";
  position: relative;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pHeader {
  position: absolute;
  top: 7%;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
  z-index: 2;
}

.previousBtn {
  position: absolute;
  top: 5.5%;
  left: 5%;
  width: 62px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #C0B9DB;
  color: #ffffff;
  z-index: 2;
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: bold;
}

.nextBtn {
  position: absolute;
  top: 5.5%;
  right: 5%;
  width: 62px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #402c44;
  color: #ffffff;
  z-index: 2;
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: bold;
}

.pDescription {
  position: absolute;
  top: 19%;
  color: #444;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  z-index: 2;
}

.characterContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    height: 95%;
    top: 15%;
  }
}

// 일반: 피부 < 눈 < 코 < 입 < 점 < 머리 < 신발 < 하의 < 상의 < 아이템 

//아이템: 눈< 머리 < 손목(왼/오) < 손(왼/오) < 목 < 귀
.characterSkin {
	z-index: 1;
}

.characterEyes {
	z-index: 2;
}

.characterNose {
	z-index: 3;
}

.characterMouth {
	z-index: 4;
}

.characterMole {
	z-index: 5;
}

.characterHair {
	z-index: 6;
}

.characterShoes {
	z-index: 7;
}

.characterBottom {
	z-index: 8;
}

.characterTop {
	z-index: 9;
}

.characterSet {
	// 세트 의상은 상/하의보다 위에 오도록
	z-index: 10;
}



/* 아이템들은 가장 위에 오도록 높은 z-index를 부여합니다. */
.eyes_item {
	z-index: 20;
}

.head {
	z-index: 21;
}

.leftWrist,
.rightWrist{
	z-index: 22;
}

.leftHand,
.rightHand {
	z-index: 23;
}

.neck{
	z-index: 24;
}

.ears{
	z-index: 25;
}



.characterBackground {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
  z-index: -1;
}

.resetBtn {
  position: absolute;
  bottom: 0px;
  right: 5%;
  cursor: pointer;
  z-index: 2;
}

.itemName {
  position: absolute;
  bottom: 10px;
  left: 5%;
  display: flex;
  min-width: 80px;
  max-width: 150px;
  height: 24px;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 2;

  p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
    text-align: center;
    font-family: "Pretendard";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
  }
}

.setCharacter {
  background: #fff;
  font-family: "Pretendard";
  box-shadow: 0px -4px 4px 0px rgba(41, 34, 41, 0.1);
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  margin-bottom: 5%;
  z-index: 8;
}

.menuBar {
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.menuItem {
  all: unset;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f5f5f;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;

  &.active {
    color: #1b142a;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 100px;
      background: #402c44;
    }
  }

  &.inactive {
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #e1e1e1;
    }
  }
}

.contentArea {
  //padding: 14px;
  height: 82%;
  background: #fff;
}

.gridItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 22px;
  padding: 14px 20px;
  width: 100%;
  box-sizing: border-box;
}

.item {
  aspect-ratio: 1;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  padding: 8px;

  &:hover {
    border-color: #ccc;
  }

  &.selected {
    box-shadow: 0 0 8px 2px rgba(139, 92, 246, 0.5);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lockedItem {
  aspect-ratio: 1;
  border-radius: 12px;
  background: white;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}