button {
	background: inherit;
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer
}

p {
	margin: 0;
}

.profileSetUpContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.showCharacter {
	position: absolute;
	width: 100%;
	height: 40%;
	font-family: "Pretendard", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.previousBtn {
	position: absolute;
	top: 7.5%;
	left: 5%;
	width: 62px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 19px;
	background: #C0B9DB;
	color: #ffffff;
	z-index: 2;
	font-family: "Pretendard";
	font-size: 14px;
	font-weight: bold;
}

.pHeader {
	position: absolute;
	top: 10%;
	font-size: 16px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.32px;
	z-index: 2;
}

.nextBtn {
	position: absolute;
	top: 7.5%;
	right: 5%;
	width: 62px;
	height: 35px;
	flex-shrink: 0;
	border-radius: 19px;
	background: #402C44;
	color: #ffffff;
	z-index: 2;
	font-family: "Pretendard";
	font-size: 14px;
	font-weight: bold;
}


.pDescription {
	position: absolute;
	top: 26%;
	color: #444;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.32px;
	z-index: 2;
}

.characterContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	img {
		position: absolute;
		height: 110%;
		top: 24%;
	}
}

// 일반: 피부 < 눈 < 코 < 입 < 점 < 머리 < 신발 < 하의 < 상의 < 아이템 

//아이템: 눈< 머리 < 손목(왼/오) < 손(왼/오) < 목 < 귀
.characterSkin {
	z-index: 1;
}

.characterEyes {
	z-index: 2;
}

.characterNose {
	z-index: 3;
}

.characterMouth {
	z-index: 4;
}

.characterMole {
	z-index: 5;
}

.characterHair {
	z-index: 6;
}

.characterShoes {
	z-index: 7;
}

.characterBottom {
	z-index: 8;
}

.characterTop {
	z-index: 9;
}

.characterSet {
	// 세트 의상은 상/하의보다 위에 오도록
	z-index: 10;
}



/* 아이템들은 가장 위에 오도록 높은 z-index를 부여합니다. */
.eyes_item {
	z-index: 20;
}

.head {
	z-index: 21;
}

.leftWrist,
.rightWrist {
	z-index: 22;
}

.leftHand,
.rightHand {
	z-index: 23;
}

.neck {
	z-index: 24;
}

.ears {
	z-index: 25;
}

.characterBackground {
	position: absolute;
	left: 50%;
	top: 13%;
	transform: translateX(-50%);
	height: 120%;
	flex-shrink: 0;
	z-index: -1;
}

.inputContainer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 60%;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 30;
}

.nameInput {
	position: absolute;
	width: 191px;
	padding: 9.5px;
	top: 11%;
	height: 5%;
	border: none;
	border-bottom: 2px solid #C0B9DB;
	outline: none;
	background-color: transparent;
	color: #1B142A;
	font-family: "ElectricalSafety";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.4px;
	text-align: center;
	caret-color: #AFAFAF;
	/* 커서의 색상, 커서의 두께는 조절 불가 */

	&::placeholder {
		color: #E1E1E1;

		font-size: 14px;
		text-align: center;
	}
}


.IdContainer {
	position: absolute;
	top: 25%;
	margin: 0 14px;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	height: 11%;

	.id {
		position: absolute;
		left: 14px;
		top: 0px;
		width: 41px;
		color: #444;

		font-family: Pretendard;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.22px;
	}

	.idInput {
		position: absolute;
		text-indent: 20px;
		border-radius: 12px;
		border: 1px solid #BEAADD;
		height: 100%;
		background: #FFF;
		right: 14px;
		left: 14px;
		box-sizing: border-box;
		color: #8B6193;
		font-family: Pretendard;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.32px;
		top: 40%;

		&:focus {
			outline: none; // 기본 포커스 테두리 제거
			border: 1px solid #9370DB; // 포커스 시 보라색 테두리

		}

		&::placeholder {
			color: #E1E1E1;
			font-family: Pretendard;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: -0.28px;
		}
	}



}

.idCheckMessage {
	position: absolute;
	font-family: Pretendard;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	right: 14px;

	&.available {
		color: var(--color-8-id, #8B6193); // 사용 가능할 때의 색상
	}

	&.unavailable {
		color: #FF6767; // 사용 불가능할 때의 색상
	}

	&.info {
		color: #BDBDBD;
	}
}

.checkBtn {
	position: absolute;
	top: 58%;
	right: 26px;
	width: 77px;
	height: 65%;
	color: #FFF;
	text-align: center;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.233px;
	background: var(--color-5-main, #C0B9DB);
	border-radius: 30px;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		border-radius: 30px;
		background: var(--gray-6-bar, #CBCCCB);
	}

	&.available {
		color: #C0B9DB;
		background-color: #ffffff;
	}
}

.ageContainer {
	position: absolute;
	top: 43%;
	padding: 0 14px;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;

	.age {
		position: absolute;
		left: 14px;
		top: 0px;
		width: 41px;
		color: #444;
		font-family: Pretendard;
		font-size: 11px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.22px;
	}



	input {
		border: none;
		text-align: center;
		font-size: 16px;
		color: #9370DB;
		width: 20px;

		text-align: right;
		font-family: Pretendard;

		&:focus {
			outline: none; // 기본 포커스 테두리 제거
			border: 1px solid #9370DB; // 포커스 시 보라색 테두리
			border-radius: 5px;
		}
	}

}

:global {
	.react-calendar {
		position: relative;
		margin-top: 5%;
		border: none;
		background: transparent;
		font-family: "Pretendard", sans-serif;

		button {
			margin: 0;
			border: 0;
			outline: none;
		}

		&__navigation {
			display: flex;
			height: 20%;
			margin-bottom: 3%;

			button {
				min-width: 44px;
				background: none;
				color: #402C44;
				font-family: "Pretendard", sans-serif;

				&:disabled {
					background-color: #f0f0f0;
				}

				&:enabled:hover,
				&:enabled:focus {
					background-color: #C0B9DB;
					color: white;
				}
			}
		}

		&__month-view__weekdays {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.75em;

			abbr {
				text-decoration: none;
				color: #402C44;
			}
		}

		&__tile {
			max-width: 100%;
			padding: 2% 6.6667px;
			background: none;
			text-align: center;
			line-height: 16px;
			font-size: 14px;
			color: #402C44;

			&:enabled:hover,
			&:enabled:focus {
				background-color: #C0B9DB;
				color: white;
			}

			&--now {
				background: #BEAADD;
				color: white;
			}

			&--active {
				background: #402C44 !important;
				color: white !important;

				&:enabled:hover,
				&:enabled:focus {
					background: #8B6193 !important;
				}
			}
		}

		&__month-view__days__day {
			&--weekend {
				color: #8B6193;
			}

			&--neighboringMonth {
				color: #C0B9DB;
			}
		}
	}
}

.pokePopup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--gray-9, #EDEFFF);
	border: none;
	border-radius: 0.75rem;
	box-shadow: 0px 0px 10px 0px rgba(23, 21, 28, 0.30);
	padding: 0;
	width: 70%;
	height: 3.0625rem;
	color: var(--gray-11, #17151C);
	text-align: center;
	font-family: "ElectricalSafety";
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1000;
	animation: fadeInOut 1.5s ease-in-out;

	@keyframes fadeInOut {
		0% {
			opacity: 0;
			transform: translate(-50%, -60%);
		}

		10% {
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		90% {
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		100% {
			opacity: 0;
			transform: translate(-50%, -40%);
		}
	}
}

.pokePopupStarsUp {
	position: fixed;
	top: -50%;
	/* 팝업 상단에서 약간 위로 배치 */
	left: 2%;
	/* 팝업 왼쪽에서 약간 왼쪽으로 배치 */
	width: 20px;
	/* 별 이미지 크기 */
	height: 20px;
	/* 별 이미지 크기 */
	z-index: 1001;
	/* 팝업 위에 표시되도록 z-index 설정 */
}

.pokePopupStarsDown {
	position: fixed;
	bottom: -50%;
	/* 팝업 상단에서 약간 위로 배치 */
	right: 2%;
	/* 팝업 왼쪽에서 약간 왼쪽으로 배치 */
	width: 20px;
	/* 별 이미지 크기 */
	height: 20px;
	/* 별 이미지 크기 */
	z-index: 1001;
	/* 팝업 위에 표시되도록 z-index 설정 */
}