.userContainer {
    //width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8fa;
    //border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
}

.profileSection {
    display: flex;
    align-items: center;
}
.profileImageContainer{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-right: 16px;
    //object-fit: cover;
    overflow: hidden;
    background-color: #BBC4E1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userName {
    font-size: 16px;
    font-family: "ElectricalSafety";
    color: #444444;
    font-weight: 500;
    margin: 0;
    margin-bottom: 2px;
}

.userId {
    font-size: 11px;
    font-family: "Pretendard";
    color: #808080;
    margin: 0;
}

.visitStarButton{

}
.cancelRequestButton {
    background-color: #C0B9DB;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    width: 28%;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Pretendard";
}
.acceptRequestButton{
    
}
.requestButton {
    background-color: #402C44;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    width: 28%;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Pretendard";
}


.completeRequestPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 0;
    width: 55%;
    height: 64px;
    // font-family: "ElectricalSafety";
    // font-weight: 400;
    // font-size: 15px;
    //color: #1B142A;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    z-index: 1000;
    animation: fadeInOut 1.5s ease-in-out;
  
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            transform: translate(-50%, -60%);
        }
        10% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        90% {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        100% {
            opacity: 0;
            transform: translate(-50%, -40%);
        }
    }
    &Title{
        font-size: 15px;
        font-weight: 500;
        color: #1B142A;
        font-family: "ElectricalSafety";
        margin-bottom: 7px;
    }
    &Text{
        font-size: 11px;
        font-weight: 400;
        color: #808080;
        font-family: "ElectricalSafety";
    }
}