.splashContainer {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  background-color: #1b142b;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.motionSection {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes jumping {
  0% {
    transform: translateY(-100vh);
  }
  20% {
    transform: translateY(3vh);
  }
  40% {
    transform: translateY(-6vh);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(0);
  }
}

.logo {
  animation-name: jumping;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  z-index: 1;
}

.subTitle {
  font-family: "NanumSquareRound";
  font-size: 15px;
  text-align: center;
  letter-spacing: -2%;
  margin-top: 0%;
  margin-bottom: 3%;
  color: #ffffff;
  z-index: 1;
  opacity: 0;
  animation: textFadeIn 0.5s forwards;
}

.title {
  font-family: "ElectricalSafety";
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15%;
  color: #e4d0e5;
  z-index: 1;
  opacity: 0;
  animation: textFadeIn 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 20%;
  }
  to {
    opacity: 100%;
  }
}

.backGround1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  width: 90dvw;
  height: 90dvw;
}

.backGround2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  width: 60dvw;
  height: 60dvw;
}

.backGround3 {
  position: absolute;
  top: -24px;
  right: 5%;
  width: 96px;
  height: 96px;
  animation-name: fade;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.backGround4 {
  position: absolute;
  top: 60%;
  left: -48px;
  width: 128px;
  height: 128px;
  animation-name: fade;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes textFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
