.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	position: relative;
	padding: 18px;
	border-radius: 12px;
	text-align: center;
	width: 60%;
	background: var(--gray-8, #F8F8FA);
}

.closeButton {
	position: absolute;
	right: 18px;
	border: none;
	background: transparent;
	cursor: pointer;
}

.errorMessage {
	margin-top: 50px;
	margin-bottom: 32px;
	color: var(--gray-22, #444);
	text-align: center;
	font-family: Pretendard;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.confirmButton {
	border: none;
	cursor: pointer;
	border-radius: 30px;
	background: var(--color-5-main, #C0B9DB);
	color: #FFF;
	width: 96px;
	height: 35px;
	text-align: center;
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.233px;
	margin-bottom: 3px;
}
