.container{
    position: relative;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F8F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headContainer{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    padding-bottom: 1.25rem;
    background-color: #FFF;
    margin-bottom: 1.125rem;
    position: relative;
}
.backButton{
    position: absolute;
    left: 0.9rem;
    bottom: 1.1rem;
    cursor: pointer;
}
.title{
    padding: 0;
    margin: 0;
}
.titleName, .titleText{
    color: #17151C;
    text-align: center;
    font-family: Pretendard;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02rem;
}

.searchBarContainer{
    // padding-left: 1rem;
    // padding-right: 1rem;
    width: 93%;
    margin-bottom: 1.3125rem;
}

.totalFriendsListContainer{
    width: 93dvw;
    padding-right: 3.5dvw;
    padding-left: 3.5dvw;
    overflow-y: auto;
    overflow-x: hidden;
}

.noFriend{
    width: 100%;
    margin-bottom: 9dvh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noFriendFirstText{
    color: var(--gray-11, #17151C);
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;

    margin-bottom: 18px;
}
.noFriendSecondText{
    color: var(--gray-22, #444);
    text-align: center;
    font-family: "ElectricalSafety";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.26px;

    margin-bottom: 44px;
}

