// 전체 컨테이너 스타일
.container {
    position: relative;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F8F8FA;
}

// 헤더 컨테이너 스타일
.headContainer {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 18px 0;
    margin: 0;
    background-color: #FFFFFF;

    .title {
        padding: 0;
        margin: 0;

        .titleName,
        .titleWelcome {
            font-family: "Pretendard";
            font-size: 16px;
            color: #1B142A;
            font-weight: bold;
        }
    }
}

// 친구 없음 화면 스타일
.noFriend {
    font-family: "Pretendard";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    .noFriendFirstText {
        font-weight: 500;
        font-size: 16px;
        color: #1B142A;
    }

    .noFriendSecondText {
        font-weight: 400;
        font-size: 13px;
        color: #444444;
    }
}
