.container{
    position: relative;
    border: 1px solid #7e7e7e;
    padding: 0;
    margin: 0;
    width: 320px;
    height: 932px;
}
.title{
    position: absolute;
    width: 144px;
    height: 19px;
    left: 15px;
    top: 67px;
}
.titleName{
    font-family: "Pretendard";
    font-size: 16px;
    color: #1B142A;
    font-weight: bold;
}
.titleWelcome{
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: bold;
    color: #5F5F5F;
}
.searchBar{
    position: absolute;
    width: 290px;
    height: 40px;
    left: 15px;
    top: 107px;
    background-color: #C0B9DB;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
.searchInput{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 20px;
    top: 10px;
    width: 230px;
    line-height: 20px;
    color: #FFFFFF;
}
.searchInput::placeholder{
    color: #FFFFFF;
    font-family: "Pretendard";
    font-size: 13px;
}
.searchInput:focus{
    outline: none;
}
.searchInput:focus::placeholder{
    color: transparent;
}

.searchButton{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 259px;
    top: 12px;
    background-color: transparent;
    border: none;
}

.friendsList{
    position: absolute;
    width: 290px;
    height: 80%;
    left: 15px;
    top: 176px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    // overflow-y: auto;
}

.friendsList span{
    font-family: "Pretendard";
    font-size: 16px;
    color: #444444;
    font-weight: bold;
}

.friendRequestsHead, .myFriendsHead, .myRequestsHead{
    width: 290px;
    height: 19px;
    margin-bottom: 23px;
}


.showHideButton{
    position: absolute;
    left: 276px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.friendRequests, .myFriends{
    border-bottom: 1px solid #C0B9DB;
    margin-bottom: 21px;
}

.friendRequestsSection, .myFriendsSection, .myRequestsSection{
    width: 290px;
    margin-bottom: 21px;
}

.myFriends{
    position: relative;
}

.sortBySectionOpen, .sortBySectionClose{
    width: 53px;
    height: 16px;
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
    font-size: 13px;
    color: #444444;
}
.sortBySectionOpen{
    background-color: #FFFFFF;
    width: 78px;
    height: 47px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 7px;
    position: absolute;
    z-index: 10;
    left: 218px;
    top: 20px;
}
.sortBySectionClose{
    position: absolute;
    left: 241px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sortCriteriaSelectButtonContainer{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.sortCriteriaSelectButton{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Pretendard";
    font-size: 13px;
    color: #444444;
}

.noFriend{
    position: absolute;
    left: 48px;
    // top: 466px;
    bottom: 230px;
    font-family: "Pretendard";
    display: flex;
    flex-direction: column;
    align-items: center;
}