/* 글꼴 적용할 때 이런식으로 하면 됨 */
.pTag {
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 900;
}

.btn {
  font-family: "Pretendard";
  font-weight: 900;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
}
