body {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  scrollbar-width: 0.5vh;
  scrollbar-color: #c0b9db;
  overflow: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 모든 버튼과 입력창에 적용 */
button, input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 0.5vh;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c0b9db;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #402c44;
}

/*Pretendard*/
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(./fonts/Pretendard/Pretendard-Black.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(./fonts/Pretendard/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(./fonts/Pretendard/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(./fonts/Pretendard/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(./fonts/Pretendard/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(./fonts/Pretendard/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(./fonts/Pretendard/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(./fonts/Pretendard/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(./fonts/Pretendard/Pretendard-Thin.woff) format("woff");
}

/*NanumSquareRound*/
@font-face {
  font-family: "NanumSquareRound";
  font-weight: 800;
  font-display: swap;
  src: local("NanumSquareRoundB"),
    url(./fonts/NanumSquareRound/NanumSquareRoundB.woff) format("woff");
}

/*ElectricalSafety*/
@font-face {
  font-family: "ElectricalSafety";
  font-weight: 800;
  font-display: swap;
  src: local("ElectricalSafetyBold"),
    url(./fonts/ElectricalSafety/ElectricalSafetyBold.woff) format("woff");
}

@font-face {
  font-family: "ElectricalSafety";
  font-weight: 500;
  font-display: swap;
  src: local("ElectricalSafetyRegular"),
    url(./fonts/ElectricalSafety/ElectricalSafetyRegular.woff) format("woff");
}
