.container {
  position: relative;
  background: #1b142b;
  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 54dvh;
  background: linear-gradient(
    180deg,
    rgba(37, 32, 43, 0.85) 0%,
    rgba(37, 32, 43, 0.45) 53.99%,
    rgba(37, 32, 43, 0) 97.54%
  );
}

.header {
  z-index: 1;
  width: 100%;
  height: 76.54px;
  padding: 0 3dvw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}
.planet {
  width: 25.687px;
  height: 18.479px;
  margin-right: 4.32px;
}
.owner {
  color: #FFF;
  text-align: center;
  font-family: "Pretendard";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.32px;
}

.subTitle {
  color: #FFF;
  text-align: center;
  font-family: "Pretendard";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.26px;
}

.backButton{
  width: 62px;
  height: 35px;
  border-radius: 30px;
  background: #402C44;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.backButton p{
  color: #FFF;
  text-align: center;
  font-family: "Pretendard";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.233px;
}

@keyframes dropMotion {
  0% {
    transform: translate(-50%, -100vh);
  }
  20% {
    transform: translate(-50%, -40%);
  }
  40% {
    transform: translate(-50%, -58%);
  }
  60% {
    transform: translate(-50%, -48%);
  }
  80% {
    transform: translate(-50%, -52%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.ownerCharacter {
  position: absolute;
  top: 62%;
  left: 32%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  height: 47dvh;
  aspect-ratio: 502/717;
  animation-name: dropMotion;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}

.visitorCharacter {
  position: absolute;
  top: 62%;
  left: 68%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  height: 47dvh;
  aspect-ratio: 502/717;
  animation-name: dropMotion;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}

@keyframes jumping {
  0% {
    transform: translate(0, 0.8em);
  }
  100% {
    transform: translate(0, 0);
  }
}

.diary {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  z-index: 1;
  top: 11em;
  right: 2em;
  animation-name: jumping;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
