.container {
	position: fixed;
	border: none;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 1100;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.slide {
	position: absolute;
	right: 0;
	top: 0;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.headerContainer {
	position: absolute;
	height: 40%;
	width: 100%;
	text-align: center;
	max-height: 250px;

	.background {
		position: absolute;
		height: 50%;
		width: 100%;
		background-size: cover;
		z-index: 1;
	}
}

.planetIcon {
	position: absolute;
	height: 10%;
	top: calc(50% - 35px);
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;

	img {
		height: 70px;
	}
}

.header {
	position: absolute;
	top: 50%;
	width: 100%;
	background: var(--Color, #1B142A);
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h2 {
		margin: 0;
		margin-top: 35px;
		color: #FFF;
		text-align: center;
		font-family: Pretendard;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.4px;
	}

	p {
		color: #FFF;
		text-align: center;
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.28px;
	}

	.codeCopy {
		color: var(--Color-4, #BEAADD);
		text-align: center;
		font-family: Pretendard;
		font-size: 11px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: -0.22px;
		padding-bottom: 20px;
		display: flex;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		img {
			height: 12px;
			padding-right: 4px;
		}
	}
}

.content {
	position: absolute;
	top: min(40%, 250px);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #FFF;
	overflow-y: hidden;
}

.settingButton {
	margin: 0px 12px;
	padding: 15px 0;
	border-bottom: 1px solid #C0B9DB;
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--gray-22, #444);
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	.arrow {
		color: #999;
	}
}

.memberSection {
	margin: 0px 12px;
	padding: 15px 0;
	height: calc(100% - 50px); // settingButton 높이를 제외한 나머지 높이

	.memberTitle {
		color: var(--gray-22, #444);
		font-family: Pretendard;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		padding-bottom: 15px;
	}
}

.addMemberButton {
	width: 100%;
	padding: 5px 10px;
	cursor: pointer;
	color: #8B6193;
	font-family: Pretendard;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	align-items: center;
	gap: 10px;

	img {
		width: 15px;
	}

	span {
		margin-right: 5px;
	}
}

.memberList {
	height: calc(100% - 150px);
	overflow-y: auto;
	margin-bottom: 50px;

	.memberItem {
		display: flex;
		align-items: center;
		padding: 10px 0;

		.avatar {
			position: relative;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #f0f0f0;
			margin-right: 10px;
			img{
				width: 40px;
				height: 40px;
			}

			.onerIcon {
				position: absolute;
				right: -4px;
				bottom: -1px;
				width: 17px;
				height: 17px;
			}

			.messageIcon {
				position: absolute;
				right: -4px;
				bottom: 25px;
				width: 17px;
				height: 17px;
			}

			.plusIcon {
				position: absolute;
				width: 40px;
				height: 40px;
				left: 0px;
			}
		}

		.memberInfo {
			flex: 1;
			color: var(--gray-22, #444);
			font-family: Pretendard;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;

			.memberHandle {
				color: var(--gray-22, #444);
				font-family: Pretendard;
				font-size: 11px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: -0.22px;
			}
		}
	}

	.signalBtn {
		width: 30px;
	}
}

.bottomButton {
	width: calc(100% - 24px);
	height: 40px;
	margin: 12px;
	border: none;
	color: #666;
	margin-top: auto;
	border-radius: 12px;
	background: #C0B9DB;
	cursor: pointer;
	z-index: 2;

	color: #FFF;

	text-align: center;
	font-family: Pretendard;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.233px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #EDEFFF;
	padding: 1rem;
	border-radius: 0.75rem;
	box-shadow: 0px 0px 10px rgba(23, 21, 28, 0.3);
	text-align: center;
	opacity: 1;
	z-index: 1000;
	transition: opacity 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeInOut 1.5s ease-in-out;

	&Title {
		color: #17151C;
		text-align: center;
		font-family: "ElectricalSafety";
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&Text {
		color: #444;
		text-align: center;
		font-family: "ElectricalSafety";
		font-size: 0.6875rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: -0.01375rem;
		margin-top: 0.44rem;
	}

	@keyframes fadeInOut {
		0% {
			opacity: 0;
			transform: translate(-50%, -60%);
		}

		10% {
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		90% {
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		100% {
			opacity: 0;
			transform: translate(-50%, -40%);
		}
	}
}